/*
    Adobe Flex ASDoc CSS
    Copyright 2007 Adobe Systems Incorporated. All rights reserved.
*/

.titleTableTopNav {
	font-size: 12px;
	background-image: url(images/titleTableTop.jpg);
	background-repeat: repeat-x;
}
.titleTableLogo {
	width: 76px;
	height: 80px;
	vertical-align: top;
}
	
* html {
	overflow-y:scroll;
}

body {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background-color:#FFFFFF;
	margin: 0px;
	padding: 0px;
}

.statement {
	font-size: 12px;
	font-weight: bold;
	color: #993333;
	padding-left: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: #999999 1px solid;
}

.outline {
	font-size: 12px;
	font-weight: bold;
	margin-left: 10px;
	margin-top: 6px;
	margin-bottom: 6px;
}

.command {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.discription {
	font-size: 11px;
	margin-left: 20px;
	font-weight: normal;
}

.discription a {
    color: #0000ff;
}

ul {
	margin-left: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.reference {
	font-size: 11px;
	margin-left: 20px;
	font-weight: normal;
	margin-top: 6px;
	margin-bottom: 6px;
}

a {
    color: #0000ff;
}

/* Headings */
h1, h2, h3, h4, h5, h6	{
	margin-top: 6px;
	margin-bottom: 6px;
}

h1 {
	font-size: 24px;
	font-weight: bold;
}

h2 {
	font-size: 16px;
	font-weight: bold;
}

h3 {
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	background-color:#006699;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
}

h4 {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	background-color:#ccccff;
	padding-left: 20px;
}

/* IE */
* html .listing {
   width: 93%;
   padding-left: 6%;
   padding-right: 5px;
   padding-top: 5px;
   padding-bottom: 5px;
   overflow-x: auto;	
   background-color: #F2F2F2;
   margin-bottom: 10px;
   margin-top: 10px;
   font-family: "Lucida Console", "Courier New", Courier, monospace;
   font-size: 12px;
}

/* Firefox, Netscape */
html>body .listing pre
{
   overflow: auto;
   padding-left: 40px;
   padding-right: 5px;
   padding-top: 5px;
   padding-bottom: 5px;
   background-color: #F2F2F2;
   margin-top: 10px;
   margin-bottom: 10px;
   font-family: "Lucida Console", "Courier New", Courier, monospace;
   font-size: 12px;
}   

.listingIcons
{
	padding: 0px;
	margin-top: 10px;
	height: 15px;
}  

.pageTop
{
	height:10px;
}