body {
  background-color: #fff;
  margin: 0;
  overflow: hidden;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 480px auto;
  grid-template-rows: 440px 40px;
}

#screen {
  grid-row: 1/3;
}
button#runscript {
  width: 240px;
  height: 40px;
  border: solid 1px #ccc;
}
