html,body {height:100%;}
body {
  background-color: #fff;
  margin: 0;
  overflow: hidden;
  position: relative;
  display:flex;
}

button {
  border: solid 1px #ccc;
  width: 480px;
  height: 30px;
  padding-top: 10px;
}
#cmlscript {
  display: block;
  margin: 0;
  padding: 10px;
  width: 460px;
  height: 320px;
}

#scrpitarea {
  display: flex;
  flex-flow: column;
}
